<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style media="screen">
      #footer{
        background-color: #2d2d2d;
      }
      p{
        color: #666666;
      }
      h3{
        color: #ffffff;
      }
      .t{
        margin: auto;
        text-align: center;
      }
    </style>
</head>

<body>
  <div class="container-fluid" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3>網站相關</h3>
          <p>關於我們</p>
          <p>服務條款</p>
          <p>幫助中心</p>
          <p>聲望與權限</p>
          <p>編輯器語法</p>
          <p>每周精選</p>
          <p>App下載</p>
          <p>社區服務中心</p>
        </div>
        <div class="col-md-2">
          <h3>聯系合作</h3>
          <p>聯系我們</p>
          <p>加入我們</p>
          <p>合作夥伴</p>
          <p>媒體報道</p>
          <p>建議反饋</p>
        </div>
        <div class="col-md-2">
          <h3>常用鏈接</h3>
          <p>筆記插件:Chrome</p>
          <p>筆記插件:Firefox</p>
          <p>訂閱: 問答/文章</p>
          <p>文檔鏡像</p>
          <p>社區訪問</p>
          <p>D-DAY技術沙龍</p>
          <p>黑客馬拉鬆Hackathon</p>
          <p>域名搜索注冊</p>
          <p>周邊店鋪</p>
        </div>
        <div class="col-md-2">
          <h3>關於我們</h3>
          <p>Github</p>
          <p>Twitter</p>
          <p>新浪微博</p>
          <p>團隊日志</p>
          <p>產品技術日志</p>
          <p>社區運營日志</p>
          <p>市場運營日志</p>
        </div>
        <div class="col-md-4">
          <h3>內容許可</h3>
          <p>
            除特別說明外,用戶內容均採用知識共享署名-非商業使用-禁止演繹4.0國際許可協議 進行許可
          </p>
          <p>
            本站由 又拍雲 提供CDN 存儲服務
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="t col-md-12">
        <p>2017-2018版權所有 北京市菜鳥在線教育科技有限公司 www.newbieol.com All Rightts Reversed</p>
      </div>
      <div class="t col-md-12">
      <p>經營許可證編號: 京ICP備14039669號-3</p>
      </div>
      <div class="t col-md-12">
        <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span><p>
      </div>
    </div>
  </div>

</body>

</html>
