<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>注冊</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <style media="screen">
    .s{
      width: 500px;
      height: 500px;
      margin: auto;
      margin-top: 100px;
      position: relative;
    }
    </style>
  </head>
  <body>
    <div class="s">
      <form action="index.html" method="post">
        昵稱:<input type="text" name="name" value=""><br><br>
        密碼:<input type="passwd" name="password" value=""><br><br>
        生日:<input type="text" name="birthday" value="19900101"><br><br>
        職業:<input type="text" name="job" value="無"><br><br>
        <input type="submit" name="name" value="注冊">
      </form>
      <div class="p">
        <!-- <img src="/images/1.jpg" alt="" /> -->
        <img src="/images/1.jpg" alt="哎呀,圖片跑嘚了" />
      </div>
    </div>
  </body>
</html>
